body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(107, 172, 224);
    color: rgb(255, 255, 255);
}

.cta {
    color: rgb(211, 36, 36);
    font-size: 16px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    color: Gray;
    font-size: 21px;
}

.footer {
    text-align: right;
} 